<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener Project</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="/shorten" method="POST">
            <label for="longUrl">Enter URL to shorten:</label>
            <input type="text" id="longUrl" name="longUrl" placeholder="Enter URL to shorten" required>
            <button type="submit">Shorten</button>
        </form>

        <% if (shortUrl) { %>
            <h2>Shortened URL:</h2>
            <a href="<%= shortUrl %>" target="_blank"><%= shortUrl %></a>
        <% } %>   
    </div>
</body>
</html>
